unpackaged/config/example-flows/flows/Sticky_Selectron_Example_Accounts_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Input_Table_Field_Names</name>
        <label>Set Input Table Field Names</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Input_Table_Field_Names</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_Table_Field_Names</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_Table_Field_Names</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NumberOfEmployees</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_Table_Field_Names</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_Table_Field_Names</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Description</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Selected_Table_Field_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Table_Field_Names</name>
        <label>Set Selected Table Field Names</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Selected_Table_Field_Names</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Table_Field_Names</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NumberOfEmployees</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </assignments>
    <description
    >This is an example flow for the Sticky Selectron LWC that shows the component working with Account-type sObjects</description>
    <environments>Default</environments>
    <interviewLabel
    >Sticky Selectron Example Flow (Accounts) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sticky Selectron Example Accounts Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LWC_Screen_Element</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumberOfEmployees</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Input_Account_List</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <screens>
        <name>Example_Screen_Element_With_Another_Action</name>
        <label>Example Screen Element With Another Action</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LWC_Screen_Element</targetReference>
        </connector>
        <fields>
            <name>Display_Static_Text</name>
            <fieldText
            >&lt;p&gt;We wait and do things now...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LWC_Screen_Element</name>
        <label>LWC Screen Element</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference
            >Example_Screen_Element_With_Another_Action</targetReference>
        </connector>
        <fields>
            <name>Display_Sticky_Selectron</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName
            >%%%NAMESPACE_OR_C%%%:stickySelectronMain</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputTableFieldNames</name>
                <value>
                    <elementReference>Input_Table_Field_Names</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputSObjectsList</name>
                <value>
                    <elementReference>Input_Account_List</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTableFieldNames</name>
                <value>
                    <elementReference
                    >Selected_Table_Field_Names</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSObjectsList</name>
                <value>
                    <elementReference>Selected_Account_List</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listCount</name>
                <value>
                    <elementReference>List_Count</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedListCount</name>
                <value>
                    <elementReference>Selected_List_Count</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeader</name>
                <value>
                    <stringValue>Accounts</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
            >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>List_Count</assignToReference>
                <name>listCount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_List_Count</assignToReference>
                <name>selectedListCount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Account_List</assignToReference>
                <name>selectedSObjectsList</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Input_Table_Field_Names</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Input_Account_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Input_Table_Field_Names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Selected_Account_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Selected_List_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Selected_Table_Field_Names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
