unpackaged/config/example-flows/flows/Sticky_Selectron_Example_Accounts_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>setFieldNames</name>
        <label>setTableFieldNames</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>inputTableFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputTableFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputTableFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NumberOfEmployees</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputTableFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputTableFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Description</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedTableFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedTableFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NumberOfEmployees</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </assignments>
    <description
  >This is an example flow for the Sticky Selectron LWC that shows the component working with Account-type sObjects</description>
    <environments>Default</environments>
    <interviewLabel
  >Sticky Selectron Example Flow (Accounts) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sticky Selectron Example Accounts Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LWC_Screen_Element</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumberOfEmployees</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>InputAccountList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <screens>
        <name>LWC_Screen_Element</name>
        <label>LWC Screen Element</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_IDs_Screen_Element</targetReference>
        </connector>
        <fields>
            <name>grid</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <!--<extensionName>slctrn:stickySelectronMain</extensionName>-->
            <extensionName
      >%%%NAMESPACE_OR_C%%%:stickySelectronMain</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputTableFieldNames</name>
                <value>
                    <elementReference>inputTableFieldNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputSObjectsList</name>
                <value>
                    <elementReference>InputAccountList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTableFieldNames</name>
                <value>
                    <elementReference>selectedTableFieldNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSObjectsList</name>
                <value>
                    <elementReference>SelectedAccountList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listCount</name>
                <value>
                    <elementReference>ListCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedListCount</name>
                <value>
                    <elementReference>SelectedListCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeader</name>
                <value>
                    <stringValue>Records</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ListCount</assignToReference>
                <name>listCount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedListCount</assignToReference>
                <name>selectedListCount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedAccountList</assignToReference>
                <name>selectedSObjectsList</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_IDs_Screen_Element</name>
        <label>Selected IDs Screen Element</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LWC_Screen_Element</targetReference>
        </connector>
        <fields>
            <name>displayContactIds</name>
            <fieldText
      >&lt;p&gt;We wait and do things now...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setFieldNames</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>InputAccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>inputTableFieldNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SelectedAccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Selected Contacts List</description>
        <name>SelectedContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedListCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>selectedTableFieldNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>TableHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Participants</stringValue>
        </value>
    </variables>
</Flow>
